{% extends "forms/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      
      .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
        border-radius: 8px;
      }
      
      .button1:hover {
        background-color: #4CAF50;
        color: white;
      }
      
</style>
                 <h1>Register</h1>
            <p>Login or SignUp to register for Internship</p>
        <a role="button" class="button button1" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
